{% extends "layout/main.html" %} {% block body %} {% include
"partials/analytics-tabs.html" %}
<div class="row justify-content-center">
  <div class="col-4">
    <form class="d-flex" role="search" id="search">
      <input
        class="form-control me-2"
        type="search"
        placeholder="Search"
        aria-label="Search"
      />
      <button class="btn btn-success" type="submit">
        Search
      </button>
    </form>
  </div>
</div>

<div class="container-fluid justify-content-center pie-chart">
  <!-- <img
    src="/plot.png"
    alt=""
    class="d-block img-fluid mx-auto"
    style="height: 80%; width: auto;"
  /> -->
  <canvas id="chart" width="1000" height="600" class="mx-auto"></canvas>
</div>

<script src="/actor.js"></script>

{% endblock %}
