{% extends "layout/main.html" %} {% block body %} {% include
"partials/analytics-tabs.html" %}
<!-- 
<canvas id="myChart" height="600" width="400"></canvas>

<script>
  const ctx = document.getElementById('myChart')

  const data = {
    labels: {{labels | safe}},
    datasets: [
      {
        label: 'My First dataset',
        backgroundColor: 'rgb(255, 99, 132)',
        borderColor: 'rgb(255, 99, 132)',
        data: {{values | safe}},
      },
    ],
  }

  const config = {
    type: 'line',
    data: data,
    options: {responsive: false},
  }

  const myChart = new Chart(ctx, config)
</script> -->

<div class="container-fluid justify-content-center" style="height: 90vh;">
  <img
    src="/plot.png"
    alt=""
    class="d-block img-fluid mx-auto"
    style="height: 80%; width: auto;"
  />
</div>
{% endblock %}
