{% extends "layout/main.html" %} {% block body %}
<link rel="stylesheet" href="/contact.css" />

<section id="team" class="pb-5">
  <div class="container">
    <h5 class="section-title h1">OUR TEAM</h5>
    <div class="row">
      <!-- Team member -->
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="image-flip">
          <div class="mainflip flip-0">
            <div class="frontside">
              <div class="card">
                <div class="card-body text-center">
                  <p>
                    <img
                      class="img-fluid"
                      src="https://media-exp1.licdn.com/dms/image/D4E35AQEC7-L1Kl2zDw/profile-framedphoto-shrink_200_200/0/1642163795146?e=1659578400&v=beta&t=E5QkFnttI_GBEW4HE0RrnP6Ku77r_pXN1QH7Pk5hWG8"
                      alt="card image"
                    />
                  </p>
                  <h4 class="card-title">Alexis Gonzales</h4>
                  <p class="card-text">
                    Experienced in JavaScript, Python, SQL, and React
                  </p>
                </div>
              </div>
            </div>
            <div class="backside">
              <div class="card">
                <div class="card-body text-center mt-4">
                  <h4 class="card-title">Alexis Gonzales</h4>
                  <p class="card-text">
                    Solutions-driven Software Engineer that is fascinated with
                    collaborating with others who share a can-do culture.
                    Passionate about teaching/learning software development and
                    supporting the team around me with empathy.
                  </p>
                  <ul class="list-inline">
                    <li class="list-inline-item">
                      <a
                        class="social-icon text-xs-center"
                        target="_blank"
                        href="https://www.linkedin.com/in/alexis-gonzalez-07/"
                      >
                        <i class="fa fa-linkedin"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a
                        class="social-icon text-xs-center"
                        target="_blank"
                        href="https://www.github.com/AlexisGonzalez07"
                      >
                        <i class="fa fa-github"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a
                        class="social-icon text-xs-center"
                        target="_blank"
                        href="mailto:alexis.gonzalez07@gmail.com"
                      >
                        <i class="fa fa-google"></i>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- ./Team member -->
      <!-- Team member -->
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="image-flip">
          <div class="mainflip flip-0">
            <div class="frontside">
              <div class="card">
                <div class="card-body text-center">
                  <p>
                    <img
                      class="img-fluid"
                      src="https://media-exp1.licdn.com/dms/image/C4E03AQF0IHWr3LEGUQ/profile-displayphoto-shrink_200_200/0/1632266328343?e=1664409600&v=beta&t=JSGJDtFCNuZCyAxdhr214MD7csMLMp4qYcNQ3RwQA4g"
                      alt="card image"
                    />
                  </p>
                  <h4 class="card-title">James D'Imperio</h4>
                  <p class="card-text">
                    Graduate from Cornell University in Computer Science and
                    Mathematics
                  </p>
                </div>
              </div>
            </div>
            <div class="backside">
              <div class="card">
                <div class="card-body text-center mt-4">
                  <h4 class="card-title">James D'Imperio</h4>
                  <p class="card-text">
                    My interests lie in the fields of Machine Learning,
                    Algorithm Analysis, and Artificial Intelligence.
                  </p>
                  <ul class="list-inline">
                    <li class="list-inline-item">
                      <a
                        class="social-icon text-xs-center"
                        target="_blank"
                        href="https://www.linkedin.com/in/james-dimperio/"
                      >
                        <i class="fa fa-linkedin"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a
                        class="social-icon text-xs-center"
                        target="_blank"
                        href="https://github.com/jgd78"
                      >
                        <i class="fa fa-github"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a
                        class="social-icon text-xs-center"
                        target="_blank"
                        href="mailto:jdimperiowork@gmail.com"
                      >
                        <i class="fa fa-google"></i>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- ./Team member -->
      <!-- Team member -->
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="image-flip">
          <div class="mainflip flip-0">
            <div class="frontside">
              <div class="card">
                <div class="card-body text-center">
                  <p>
                    <img
                      class="img-fluid"
                      src="https://media-exp1.licdn.com/dms/image/C5603AQEaBVH9pLax0g/profile-displayphoto-shrink_200_200/0/1652121215668?e=1664409600&v=beta&t=-20-Gb-MXomwl5-nzpXpv5Xw8j6NE4nY4bwJUUh6KYE"
                      alt="card image"
                    />
                  </p>
                  <h4 class="card-title">Devon Gulley</h4>
                  <p class="card-text">
                    Independent physics tutor with experience in retail,
                    computing systems, and sales
                  </p>
                </div>
              </div>
            </div>
            <div class="backside">
              <div class="card">
                <div class="card-body text-center mt-4">
                  <h4 class="card-title">Devon Gulley</h4>
                  <p class="card-text">
                    I am extremely dedicated to my work while also having a few
                    interest projects in continuation of my schooling in my
                    spare time
                  </p>
                  <ul class="list-inline">
                    <li class="list-inline-item">
                      <a
                        class="social-icon text-xs-center"
                        target="_blank"
                        href="https://www.linkedin.com/in/devon-gulley/"
                      >
                        <i class="fa fa-linkedin"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a
                        class="social-icon text-xs-center"
                        target="_blank"
                        href="#"
                      >
                        <i class="fa fa-github"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a
                        class="social-icon text-xs-center"
                        target="_blank"
                        href="#"
                      >
                        <i class="fa fa-google"></i>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- ./Team member -->
      <!-- Team member -->
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="image-flip">
          <div class="mainflip flip-0">
            <div class="frontside">
              <div class="card">
                <div class="card-body text-center">
                  <p>
                    <img
                      class="img-fluid"
                      src="https://media-exp1.licdn.com/dms/image/D4E35AQGend8ppcy2vw/profile-framedphoto-shrink_200_200/0/1646867452907?e=1659578400&v=beta&t=XFpH0yDPSmP4d76vd8AuTE2T-93DNlfIPzAlG04CvQk"
                      alt="card image"
                    />
                  </p>
                  <h4 class="card-title">Talon Logan</h4>
                  <p class="card-text">
                    Software Test Engineer · Data Entry Clerk · Software
                    Developer · Javascript Developer · Java Software Developer
                  </p>
                </div>
              </div>
            </div>
            <div class="backside">
              <div class="card">
                <div class="card-body text-center mt-4">
                  <h4 class="card-title">Talon Logan</h4>
                  <p class="card-text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Recusandae provident quibusdam ipsam similique minus!
                    Reiciendis.
                  </p>
                  <ul class="list-inline">
                    <li class="list-inline-item">
                      <a
                        class="social-icon text-xs-center"
                        target="_blank"
                        href="https://www.linkedin.com/in/talon-logan-b3bba4231/"
                      >
                        <i class="fa fa-linkedin"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a
                        class="social-icon text-xs-center"
                        target="_blank"
                        href="#"
                      >
                        <i class="fa fa-github"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a
                        class="social-icon text-xs-center"
                        target="_blank"
                        href="#"
                      >
                        <i class="fa fa-google"></i>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- ./Team member -->
      <!-- Team member -->
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="image-flip">
          <div class="mainflip flip-0">
            <div class="frontside">
              <div class="card">
                <div class="card-body text-center">
                  <p>
                    <img
                      class="img-fluid"
                      src="https://media-exp1.licdn.com/dms/image/D4D35AQF9VfLN_A6qKA/profile-framedphoto-shrink_200_200/0/1628095503901?e=1659578400&v=beta&t=Kjg-sORLx--9E3tyvleGhd0tFU7CeY9K199E7DuqI0s"
                      alt="card image"
                    />
                  </p>
                  <h4 class="card-title">VICTOR LUPASCU</h4>
                  <p class="card-text">
                    Full stack web developer
                  </p>
                </div>
              </div>
            </div>
            <div class="backside">
              <div class="card">
                <div class="card-body text-center mt-4">
                  <h4 class="card-title">VICTOR LUPASCU</h4>
                  <p class="card-text">
                    Innovative problem-solver who is passionate about developing
                    user-friendly applications.
                  </p>
                  <ul class="list-inline">
                    <li class="list-inline-item">
                      <a
                        class="social-icon text-xs-center"
                        target="_blank"
                        href="https://www.linkedin.com/in/victor-lupascu-823650209/"
                      >
                        <i class="fa fa-linkedin"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a
                        class="social-icon text-xs-center"
                        target="_blank"
                        href="https://github.com/vitokwolf"
                      >
                        <i class="fa fa-github"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a
                        class="social-icon text-xs-center"
                        target="_blank"
                        href="mailto:victor.lupascu.1985@gmail.com"
                      >
                        <i class="fa fa-google"></i>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- ./Team member -->
    </div>
  </div>
</section>

{% endblock %}
