{% extends "layout/main.html" %} {% block body %}

<canvas id="myChart" height="600" width="400"></canvas>

<script>
  const ctx = document.getElementById('myChart')

  const data = {
    labels: {{labels | safe}},
    datasets: [
      {
        label: 'My First dataset',
        backgroundColor: 'rgb(255, 99, 132)',
        borderColor: 'rgb(255, 99, 132)',
        data: {{values | safe}},
      },
    ],
  }

  const config = {
    type: 'line',
    data: data,
    options: {responsive: false},
  }

  const myChart = new Chart(ctx, config)
</script>
{% endblock %}
